/* headers 
font-family: 'Oswald', sans-serif; 
font-family: 'Koulen', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Condensed', sans-serif;





*/

html,body{
    margin:0;
    padding: 0;
    overflow-x: hidden;

}

.hero {
    height: 100vh;
    width: 100%;
    text-align: left;
    background-color: gray;
    background-image: url('./images/header.jpg');

    background-position:center;
    background-repeat: no-repeat;
    background-size: 100vh;

}

.hero_bg{
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position:relative;
    
}



.title_wrapper{
    position: absolute;
    top: 35%;
    left: 9%;
    color: white;
    width: 80%;
}

#hero_cs{
    color: #CC9835; 
    font-size: 70px;
}

#sub_colored{
    color: #CC9835; 
}

#hero_title{
    margin-bottom: 0;
    font-size: 55px;
    /* font-family: 'Bebas Neue', cursive; */
}

#hero_subtitle{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.hero button{
    background:rgba(204, 152, 53,0);
    padding: 3px 55px;
    font-family: 'Jost', sans-serif;
    border-style:solid;
    border-width: 2px;
    border-color: #CC9835;
    color:rgb(233, 233, 233);
    font-size: 20px;
}


.about{
    width: 100%;
    height: auto;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background-color: #91691f;
}

.about_content_wrapper{
    padding: 13% 0;
    width: 75%;
    margin: auto;
    color: white;
    text-align: justify;
}

.testimonials{
    background-color:black;
    height: auto;
    width: 100%;

}

.testi_item{
    background-color: rgb(31, 30, 30);
    margin: 10% 5%;
    padding: 5%;
    border-style: solid;
    border-color: #CC9835;
    border-width: thin;
}

.testi_content{
    
    position:relative;
    /* border: 2px;
    border-color: white;
    border-style: solid; */
    
}

.testi_message{
    color: white;
    position: relative;
    font-family: 'Jost', sans-serif;
    height: auto;
    font-size: 20px;
    padding: 10% 5%;
    padding-bottom: 5%;
    text-align: justify;
}

#in_quotes, #out_quotes{
    position: absolute;
    max-height: 70px;
    max-width: 70px;
    opacity: 0.3;
}

#in_quotes{
    top: 5%;
    left: 0;
    
}

#out_quotes{
    bottom: 0;
    right: 0;
}

.testi_sender{
    text-align:center;
    margin: 0 10%;
}


#testi_initial{
    font-size: 50px;
}

#testi_sender_name{
    color: #CC9835;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}


.testi_flexbox{
    padding: 5%;
}



.main_footer{
    height: auto;
    width: auto;
    background-color:rgb(31, 30, 30);
    padding-top: 15%;
    padding-bottom: 5%;
}

.input_group{
    padding-bottom: 5%;
    position: relative;

}

.email_section{
    text-align:center;
    margin: 0 10%;
}

#email_message{
    display:inline-block;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    padding-bottom: 2%;
}

#message{
    height: 200px;
    width: 100%;
    background-color: black;
    border-color:  white;
    border-width: thin;
    color: white;
    font-family: 'Jost',sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 7%;
}

.email_section input{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color:black;
    border-color: white;
    border-width: thin;
    color: white; 
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    padding-left: 7%;
    
}

.email_section hr{
    background-color:#CC9835;
    width: 30%;
    height: 3px;
    border-style: none;

}

#form_submit_note{
    font-family: 'Jost', sans-serif;
    color:white;
    font-style: italic;
    font-size: 15px;
}

#email_button{
    margin-top: 10%;
    padding: 1% 0;
    width: 60%;
    background-color: black;
    color: white;
    border: thin solid #CC9835;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}


#link_span{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: white;
}

.link_section{
    text-align:center;
    /* display:block; */
    padding-top: 10%;
}

#icon{
    height: 25px;
    width: 25px;
    padding: 2%;
}

.inputs{
    padding-top: 8%;
}


.bottom_content{
    padding: 3%;
    padding-bottom: 7%;

}

.bottom_footer{
    text-align:center;
    height: auto;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#footer_cs{
    font-size: 30px;
    color:rgb(204, 152, 53);
}


#footer_owner{
    font-family: 'Jost', sans-serif;
    font-size: 13px;
}
