/* headers 
font-family: 'Oswald', sans-serif; 
font-family: 'Koulen', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Condensed', sans-serif;





*/

html,body{
    margin:0;
    padding: 0;
    overflow-x: hidden;

}

.navbar_{
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    transition: all .5s ease-in-out;
}

#nav_title {
    margin-top: 30px;
    margin-left: 10%;
    position: absolute;
    left: 0;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 25px;
    opacity: 0;

}

#nav_cs{
    font-size: 30px;
}

.navbar_burger_wrapper{
    margin-top: 40px;
    height: 60px;
    width: 60px;
    position: absolute;
    cursor:pointer;
    right: 0;
    margin-right: 10%;
}

.navbar_burger{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.navbar_burger::before,
.navbar_burger::after{

    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.navbar_burger::before{
    transform: translateY(-10px);
}

.navbar_burger::after{
    transform: translateY(10px);
}

/* animation for burger */
.navbar_burger_wrapper.open .navbar_burger{
    transform: translateX(-50px);
    background: transparent;
    
}

.navbar_burger_wrapper.open .navbar_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.navbar_burger_wrapper.open .navbar_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.navbar_.open{
    transition: all .5s ease-in-out;
    background-color: rgb(204, 151, 53);
    height: 100vh;
}

.hero {
    height: 100vh;
    width: 100%;
    text-align: left;
    background-color: gray;
    background-image: url('../images/header.jpg');

    background-position:center;
    background-repeat: no-repeat;
    background-size: 100vh;

}

.hero_bg{
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position:relative;
    
}



.title_wrapper{
    position: absolute;
    top: 35%;
    left: 9%;
    color: white;
    width: 80%;
}

#hero_cs{
    color: #CC9835; 
    font-size: 70px;
}

#sub_colored{
    color: #CC9835; 
}

#hero_title{
    margin-bottom: 0;
    font-size: 55px;
    /* font-family: 'Bebas Neue', cursive; */
}

#hero_subtitle{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#hero_button{
    background:rgba(204, 152, 53,0);
    padding: 3px 55px;
    font-family: 'Jost', sans-serif;
    border-style:solid;
    border-width: 2px;
    border-color: #CC9835;
    color:rgb(233, 233, 233);
    font-size: 20px;
}


.about{
    width: 100%;
    height: auto;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background-color: #a57722;
}

.about_content_wrapper{
    padding: 13% 0;
    width: 75%;
    margin: auto;
    color: white;
    text-align: justify;
}

#about_title{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.testimonials{
    background-color:black;
    height: auto;
    width: 100%;

}

.scroll_indicator{
    text-align:center;
    padding-top: 105px;
    z-index: 3;
    opacity: 1;
    position: absolute;
    height: auto;
    background:rgba(32, 32, 32, 0.95);
    color: #CC9835;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: 0.5s;
    font-size: 23px;
    font-family: 'Jost', sans-serif;
    
}

.section {
    height: 100px;
    position: relative;
    width: 100%;
}

.section::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: #CC9835;
    content: '╲╱';
    font-size: 15px;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
}

@keyframes bounce {
    50% {
        transform: translateY(-20%);
    }
}

.testi_item{
    background-color: rgb(17, 17, 17);
    /* margin: 10% 0; */
    padding: 0 3.5%;
    border-style: solid;
    border-color: #CC9835;
    border-width: thin;
}

.testi_content{
    
    position:relative;
    /* border: 2px;
    border-color: white;
    border-style: solid; */
    
}

.testi_message{
    color: white;
    position: relative;
    font-family: 'Jost', sans-serif;
    height: 150px;
    overflow-y: scroll;
    font-size: 14px;
    margin: 10% 8%;
    margin-bottom: 0;
    padding: 0 6%;
    /* text-indent: 35px; */
    text-align: left;
    z-index:1;
}



#in_quotes, #out_quotes{
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    opacity: 0.1;
    z-index: 0;
}

#in_quotes{
    top: 5%;
    left: 0;
    
}

#out_quotes{
    bottom: 0;
    right: 0;
}

.testi_sender{
    text-align:center;
    margin: 0 10%;
}


#testi_initial{
    font-size: 50px;
}

#testi_sender_name{
    color: #CC9835;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    
}


.testi_flexbox{
    padding: 10% 8%;
}




.main_footer{
    height: auto;
    width: auto;
    background-color:rgb(15, 15, 15);
    padding-top: 15%;
    padding-bottom: 5%;
}

.input_group{
    padding-bottom: 5%;
    position: relative;

}

.email_section{
    text-align:center;
    margin: 0 10%;
}

#email_message{
    display:inline-block;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    padding-bottom: 2%;
}

#message{
    height: 200px;
    width: 100%;
    background-color: black;
    border-color:  white;
    border-width: thin;
    color: white;
    font-family: 'Jost',sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 3%;
}

.email_section input{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color:black;
    border-color: white;
    border-width: thin;
    color: white; 
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    padding-left: 3%;
    
}

.email_section hr{
    background-color:#CC9835;
    width: 30%;
    height: 3px;
    border-style: none;

}

#form_submit_note{
    font-family: 'Jost', sans-serif;
    color:white;
    font-style: italic;
    font-size: 15px;
}

#email_button{
    margin-top: 10%;
    padding: 1% 0;
    width: 60%;
    background-color: black;
    color: white;
    border: thin solid #CC9835;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}


#link_span{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: white;
}

.link_section{
    text-align:center;
    /* display:block; */
    padding-top: 10%;
}

#icon_links{
    height: 35px;
    width: 35px;
    padding: 1.5%;
    margin: 1%;
    /* border-style: solid;
    border-width: thin;
    border-color: #CC9835;
    border-radius: 10%; */
}

.inputs{
    padding-top: 8%;
}


.bottom_content{
    padding: 3%;
    padding-bottom: 7%;

}

.bottom_footer{
    text-align:center;
    height: auto;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#footer_cs{
    font-size: 30px;
    color:rgb(204, 152, 53);
}


#footer_owner{
    font-family: 'Jost', sans-serif;
    font-size: 13px;
}


/* webkit stuff */
/* ::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 1px solid #ffffffa1;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
} */