/* headers 
font-family: 'Oswald', sans-serif; 
font-family: 'Koulen', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Condensed', sans-serif;





*/

html,body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.navbar_{
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    transition: all .5s ease-in-out;
    text-align:center;
}

#nav_title {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 25px;
    opacity: 0;
    position: absolute;
    visibility: hidden;


}

#nav_cs{
    font-size: 30px;
}

.navbar_burger_wrapper{
    margin-top: 40px;
    height: 60px;
    width: 60px;
    position: absolute;
    cursor:pointer;
    right: 0;
    margin-right: 10%;
}

.navbar_burger{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.navbar_burger::before,
.navbar_burger::after{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.navbar_burger::before{
    transform: translateY(-10px);
}

.navbar_burger::after{
    transform: translateY(10px);
}

/* animation for burger */
.navbar_burger_wrapper.open .navbar_burger{
    transform: translateX(-50px);
    background: transparent;
    
}

.navbar_burger_wrapper.open .navbar_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.navbar_burger_wrapper.open .navbar_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.navbar_.open{
    transition: all .5s ease-in-out;
    background-color: rgba(204, 151, 53, 0.938);
    height: 100vh;
    position:fixed;
}

.navbar_.open .nav_items{
    visibility:visible;
    transition: all .5s ease-in-out;
    padding-top: 30vh;
    opacity: 1;
}



.navbar_.open .nav_links{
    transition: all .3s ease-in-out;
    visibility:visible;
    opacity: 1;
}

.navbar_.open #nav_title{
    transition: all .5s ease-in-out;
    opacity: 1;
    /* display: inline-block; */
    
}

.nav_items{
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.nav_links{
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    padding-top: 50px;
}

.nav_links_wrapper{
    display: flex;
    flex-wrap: flex;
    justify-content: center;
}

.nav_link{
    border: #02020e solid thin;
    border-radius: 50%;
    margin: 4px;
}

.nav_link:hover{
    transition: all .5s ease-in-out;
    background-color: #02020e50;
}

.nav_items ul{
    padding-left: 0;
    list-style-position: inside;
}


.nav_items li{
    list-style: none;
    padding: 10px;
}

.nav_items a {
    text-decoration: none;
    color: white;
}

.nav_items a:hover{
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

#nav_icons{
    height: 18px;
    width: 18px;
    margin: 8px;
}


.hero {
    height: 100vh;
    width: 100%;
    text-align: left;
    background-color: gray;
    background: url('../images/isaiah_imgs/1.jpg') no-repeat center;
    background-size: cover;


}

.hero_bg{
    height: 100%;
    background: #02020e9c;
    position:relative;
    
}



.title_wrapper{
    /* position: absolute; */
    /* top: 40%;
    left: 9%; */
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
    padding-top: 350px;
}

#hero_cs{
    color: #FFCA41; 
    font-size: 70px;
}

#sub_colored{
    color: #FFCA41; 
}

#hero_title{
    margin-bottom: 0;
    font-size: 55px;
    /* font-family: 'Bebas Neue', cursive; */
}

#hero_subtitle{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#hero_button{
    background:rgba(204, 152, 53,0);
    padding: 3px 55px;
    font-family: 'Jost', sans-serif;
    border-style:solid;
    border-width: 2px;
    border-color: #FFCA41;
    color:rgb(233, 233, 233);
    font-size: 20px;
}

/* .hero_bottom{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(180deg, rgba(10, 11, 13, 0) 0%, rgba(2, 8, 20, 0.8) 45.44%, #0A0B0D 100%);
} */


.about{
    /* background-image: url(../images/car_background.png); */
    width: 100%;
    height: auto;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background-color: #af8c33;

}

.about_content_wrapper{
    padding: 15% 0;
    display: flex;
    color: white;
    flex-wrap: wrap-reverse;
    width: auto;
    justify-content: center;
}





#about_hr{
    background-color: #02020ec4;
    width: 20%;
    
    margin-top: 0px;
    height: 1px;
    border-style: none;
}

#about_image{
    height: 300px;
    width: 300px;
    background: url(/images/isaiah_imgs/5_2.jpg) center no-repeat;
    background-size: cover;
    border-radius: 5%;
    margin: 1.5%;
    
}


#about_title{
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    display: block;
    text-align:center;
}

#about_subtitle{
    font-size: 15px;
}

#about_title_initials{
    font-size: 75px;
}

.about_content_center_wrapper{
    display: table;
    padding: 1%;
}

#about_content{
    width: 400px;
    display: table-cell;
	vertical-align: middle;
    text-align: center;
    padding: 30px 10%;
}


.testimonials{
    background-color: #02020e;
    height: auto;
    width: 100%;
    text-align:center;
    padding: 10% 0;
}

.testi_flexbox{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    
}

.testi_item{
    width: 100%;
    /* margin: auto; */
    margin: 25px 10%;
    /* background-color: #04041f; */
}

#testimonial_hr{
    width: 50%;
    background-color: white;
    height: 1px;
    border-style: none;
}

#quote_text{
    color: white;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}

#quote_hr{
    background-color:#FFCA41;
    width: 20px;
    height: 1px;
    border-style: none;
}

#quote_name{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #FFCA41;
}

#quote_initials{
    font-size: 30px;
}

.quote_img{
    height: 50px;
    width: 50px;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

#in_quotes, #out_quotes{
    position: absolute;
    height: 25px;
    width: 25px;
}

#in_quotes{
    left: 0;
    top: 0;
}

#out_quotes{
    right: 0;
    bottom: 0;
}






.location {
    background-color: #030314f5;
    height: auto;
    width: 100%;
}

.contact_information{
    width: 600px;
    display: table;
}

.contact_information_wrapper{
    display: table-cell;
	vertical-align: middle;
    padding: 15% 10%;
    text-align: center;
}

.contact_flexbox{
    display: flex;
    flex-wrap: wrap-reverse;
    width: auto;
    padding: 0 0;
    justify-content: center;
}





#map{
    height: 500px; 
    width: 500px;
    /* margin: auto; */
    
}

#contact_title{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 45px;
    display: inline-block;
    margin-bottom: 5px;
    
}

/* #contact_hr{
    background-color:#FFCA41;
    width: 30%;
    height: 3px;
    border-style: none;
    float: left;
    margin-right: 100%;
} */

#contact_subtitle{
    font-family: 'Jost',sans-serif;
    color: #FFCA41;
    font-size: 15px;
    font-style: italic;
    text-align:center;
    display: inline-block;
    padding-bottom: 25px;
}

.contact_infos{
    font-family: 'Jost',sans-serif;
    color: white;
}

.contact_infos i{
    font-size: 23px;
}

#contact_item{
    padding-left: 10px;
    font-size: 17px;
}



.footer{
    background: url(../images/isaiah_imgs/4.jpg) center no-repeat;
    background-size: cover;

}

.main_footer{
    height: auto;
    width: auto;
    background-color: #000000c4;
    padding-top: 80px;
    padding-bottom: 40px;
}


.input_group{
    padding-bottom: 5%;
    position: relative;

}

.email_section{
    text-align:center;
    margin: 0 10%;
}

#email_message{
    display:inline-block;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 45px;
    padding-bottom: 2%;
}

#message{
    height: 200px;
    width: 100%;
    background-color: #02020e73;
    border-color:  white;
    border-width: thin;
    color: white;
    font-family: 'Jost',sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 3%;
}

.email_section input{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color:#02020e73;
    border-color: white;
    border-width: thin;
    color: white; 
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding-left: 3%;
    
}

.email_section hr{
    background-color:#FFCA41;
    width: 30%;
    height: 1px;
    border-style: none;

}

#form_submit_note{
    font-family: 'Jost', sans-serif;
    color:white;
    font-style: italic;
    font-size: 15px;
}

#email_button{
    margin-top: 20px;
    padding: 8px 0;
    width: 70%;
    background-color: #02020e73;
    color: white;
    border: thin solid #FFCA41;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
}


#link_span{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: white;
}

.link_section{
    text-align:center;
    /* display:block; */
    padding-top: 50px;
}


.link_img_wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link_img{
    background-color: #ffc94100;
    border-radius: 50%;
    padding: 3px;
    border: #FFCA41 solid thin;
    display: table;
    margin: 8px;
}

.link_img:hover{
    transition: all .5s ease-in-out;
    background-color: #ffc94175;
}

#icon_links{
    height: 18px;
    width: 18px;
    margin: 8px;
    display: table-cell;
    vertical-align: center;
    /* margin: 1%; */
    /* border-style: solid;
    border-width: thin;
    border-color: #FFCA41;
    border-radius: 10%; */
    
    
}

.inputs{
    padding-top: 8%;
}


.bottom_content{
    padding: 3%;
    padding-bottom: 7%;

}

.bottom_footer{
    text-align:center;
    height: auto;
    background-color: #02020e;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#footer_cs{
    font-size: 30px;
    color:#FFCA41;
}


#footer_owner{
    font-family: 'Jost', sans-serif;
    font-size: 13px;
}


/* webkit stuff */
/* ::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 1px solid #ffffffa1;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
} */